button:visited{
   background-color: #e3dccc;
}
button:hover{
    background-color: #e3dccc;
}
button:active{
    background-color: #e3dccc;
}
button:focus{
    background-color: #e3dccc;
}
.card {
    border-top-color: #e3dccc;
    border-bottom-color: #b0a06f;
    border-right-color: #b0a06f;
    border-left-color: #e3dccc;
    border-width: 5px;
    color: #14395a;
}
.card-panel {
    background-color: #14395a;
    color: #b0a06f;
}

body {
    font-family: 'Work Sans';
}

button {
    font-family: 'Work Sans';
    font-weight: bolder;
}

/***sets the initial display state of Q+A container to none */
#notLanding {
    display: none;
}

#html-understood,
#css-understood,
#javascript-understood,
#jquery-understood,
#api-understood,
#git-understood {
    display: none;
}

#flashCards, .question, .answer {
    height: 100%;
    text-align: center;
    padding: 10%;
    font-size: xx-large;
    
}
